@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(19,17,17);
    background: linear-gradient(360deg, rgba(19,17,17,1) 0%, rgba(180,174,174,1) 50%, rgba(19,17,17,1) 100%);
    background-attachment: fixed;
    
}
.menu {
    display:flex;
    justify-content: end;
    font-family: 'bangers';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    margin:10px;
    
}
.menu li {
    display:inline;
    margin:10px;
    }
a{
    text-decoration: none;
    color: rgba(180,174,174,1);
}
.content {
    display:grid;
    height: 100vh;
    grid-template-areas: 
        "logo titulo titulo"
        "contenido contenido contenido";
    grid-template-columns: 210px auto auto;
    grid-template-rows: 210px auto auto;
}
.content__logo {
    grid-area:logo;
    align-self: center;
    display:flex;
    animation-name: animar 10s;
    animation-iteration-count: infinite;
    }
#logo {
    width: 200px;
    height: 200px;
    animation: animar 2s;
    animation-iteration-count: infinite;
    
}
.content__titulo { /*funciona para todas las paginas*/
    grid-area: titulo;
    align-self: center;
    justify-self: center;
    font-family: 'Bangers';
    font-size: 35px;
    line-height: 61px;
    color: #060c08;
    display:flex;
    
}
.content__contenido { /*pag nosotros*/
    grid-area: contenido;
    font-family: 'Bangers';
    font-size: 30px;
    color: #060c08;
    align-self: center;
    justify-self: center;
    display:flex;
    margin:20px;
}
footer{
    font-family: 'Bangers';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(180,174,174,1);
    justify-self: center;
    /*margin-top:auto;*/
    }
.content__galeria{ /*galeria*/
    grid-area: contenido;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;

}
.content__galeria__cuadro{
    width: 271px;
    height: 243px;
    border-radius: 35px;
    margin:15px;
}

.content__cervezas{ /* cervezas*/
    grid-area:contenido;
    justify-self: center;
    display: grid;
    grid-template-areas: 
    "foto1 texto1"
    "foto2 texto2"
    "foto3 texto3"
    "foto4 texto4";
    grid-template-columns: 232px auto;
    grid-template-rows: 201px auto;
    
}

.content__cerveza__foto{
    width: 232px;
    height: 201px;
    margin:20px;
    border-radius: 35px;
    justify-self: center;
    align-self: center;
}
.content__cerveza__texto {
    width: 695px;
    height: 169px;
    font-family: 'Bangers';
    font-size: 25px;
    color: #000000;
    justify-self: center;
    align-self: center;
    margin:10px;
    
    }
#foto1{
    grid-area:foto1;
}
#text1{
    grid-area:texto1;
}
#foto2{
    grid-area:foto2;
}
#text2{
    grid-area:texto2;
}
#foto3{
    grid-area:foto3;
}
#text3{
    grid-area:texto3;
}
#foto4{
    grid-area:foto4;
}
#text4{
    grid-area:texto4;
}
/*contacto*/
.container{
    grid-area:contenido;
    
    
}
.row { 
    justify-self: center;
}

/*animacion*/

@keyframes animar {
    0% {transform: scale(1.1,1.1)};
    20% {transform: scale(1.2,1.2)};
    40% {transform: scale(1.1,1.1)};
    60% {transform: scale(1,1)};
    80% {transform: scale(0.9,0.9)};
    100% {transform: scale(1,1)};
}
/*responsive*/

@media (max-width: 768px) {
    .content {
            grid-template-areas: 
            "logo logo logo"
            "titulo titulo titulo"
            "contenido contenido contenido";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }
    .footer {
        bottom:0;
    }
    .content__cervezas{ 
        grid-template-areas: 
    "foto1"
    "texto1"
    "foto2"
    "texto2"
    "foto3"
    "texto3"
    "foto4"
    "texto4";
    grid-template-columns: 200px ;
    grid-template-rows: 200px;
    }
}